@charset "UTF-8";
p{background-color:blue; font-size: 50px;}
h1{background-color: yellow; border: 1px red solid;}
a:link{
text-decoration: none;
color: blue;
background-color: white;
}
a:visited{
text-decoration: none;
color: green;
background-color: silver;
}
a:hover{
text-decoration: underline;
color: white;
background-color: blue;
}